
.pics{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center; 
    align-items: center;
    
}

.background{
    display: block;
    height: 700px;
    width:600px;
}